#heading1 {
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: Alex Brush;

    margin-bottom: 20px;
}

#slider {
    display: flex;
    width: 500px;
    height: 250px;
    gap: 10px;
}

#i {
    border: 5px solid yellow;
    box-shadow: blue 0px 0px 10px;
    border-radius: 10px;

}

#aboutus {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: Alex Brush;

}

#about {

    text-align: center;
    margin: 50px;
    color: black;
    font-size: 20px;
    font-family: Alex Brush;
}

#reg-img {
    width: 500px;
    height: 700px;
    background-image: url(images/reg-img/josh-hild-j53CrXwLTkc-unsplash.jpg);
    background-size: cover;
    margin-left: 40px;
}

#reg {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;


}

#reg-data {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#reg-had {
    padding: 20px;
    color: brown;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

#space2 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

#slider2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;

    /* justify-content: center;
    align-items: center; */

}

#img {
    display: flex;
    width: 150px;
    border: 2px solid yellow;
    box-shadow: blue 0px 0px 10px;
    border-radius: 10px;
}

#menu-img {
    background-image: url("images/menu-img/menu-img.png");
    width: 400px;
    height: 500px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#menu {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    gap: 200px;

}

#menu-details {
    justify-content: center;
    align-items: center;
}

#ord {
    padding: 10px;
    margin: 20px, 20px, 10px, 0px;
}

#ord:hover {
    color: red;
    cursor: pointer;
}

#Reviews-video {}

#vid {
    width: 500px;
    height: 450px;

}

#Reviews {
    display: flex;
    justify-content: center;
    gap: 200px;
}
#temp{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin: 40px;

}
#r{
    width: 250px;
}