#slider {
    display: flex;
    width: 500px;
    height: 250px;
    gap: 10px;
}

#i {
    border: 5px solid yellow;
    box-shadow: blue 0px 0px 10px;
    border-radius: 10px;

}

#aboutus {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: Alex Brush;

}

#about {

    text-align: center;
    margin: 50px;
    color: black;
    font-size: 20px;
    font-family: Alex Brush;
}

#reg-img {
    width: 500px;
    height: 700px;
    background-image: url(images/reg-img/josh-hild-j53CrXwLTkc-unsplash.jpg);
    background-size: cover;
    margin-left: 40px;
}

#reg {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;


}

#reg-data {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#reg-had {
    padding: 20px;
    color: brown;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

#space2 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

#slider2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;

    /* justify-content: center;
    align-items: center; */

}

#img {
    display: flex;
    width: 150px;
    border: 2px solid yellow;
    box-shadow: blue 0px 0px 10px;
    border-radius: 10px;
}

#menu-img {
    background-image: url("images/menu-img/menu-img.png");
    width: 400px;
    height: 500px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#menu {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    gap: 200px;

}

#menu-details {
    justify-content: center;
    align-items: center;
}


#ord:hover {
    color: red;
    cursor: pointer;
}



#vid {
    width: 500px;
    height: 450px;

}

#Reviews {
    display: flex;
    justify-content: center;
    gap: 100px;
}
#Reviews-data{
    margin-right: 60px;
}

#temp{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding : 20px;

}
#r{
    width: 250px;
}
#google{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    margin-left: 200px;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    padding: 4px;
    gap: 2px;

}
#screen{
    width: 150px;
    height: 20px;
    border: 1px solid black;
}
#quick-link{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    cursor: pointer;
}
#end{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#subb{
    margin: 10px;
}
nav{
    
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 20px;
    margin-right: 40px;
    
}
#logo{
    width: 400px;
    height: 300px;
    /* border: 2px solid black; */
    margin: 40px;
    background-image: url(images/logo/logo.png);
    background-size: cover;

}
#viddo{
    border: 2px solid black;
    width: 600px;
    margin: 40px;
    
}
#heading1{
    display: flex;
    gap: 50px;

}

                                     /* Menu Css */
#logo-menu{
    display: flex;
    width: 250px;
    height: 250px;
    /* border: 2px solid black; */
    background-image: url(images/logo/logo.png);
    background-size: cover;

}
#menu-head{
    margin-top: 100px;
    margin-left: 300px;

}
#menu-art{
    display: flex;
}
#menu-vid{
    width: 1100px;
    height: auto;
}
#menuu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border:1px solid black;
    padding: 25px;

    
}
#btn{
    margin-left: 250px;
    border: 2px solid black;
    color: black;
    background-color: yellow;
    font-size: 20px;
    cursor: pointer;
    
}

#img-menu{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    gap: 5px;
}